# SECTION 1: HOUSING DATA CLEANING AND ANALYSIS

###### Importing Libraries, Intitial Look at Housing Data

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from scipy import stats
import seaborn as sns
import numpy as np
import math

In [2]:
df = pd.read_csv('/Users/admin/Documents/Flatiron/Housing_Prices_and_Flood_Risk/data/kc_house_data.csv')

In [3]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'greenbelt', 'nuisance', 'view',
       'condition', 'grade', 'heat_source', 'sewer_system', 'sqft_above',
       'sqft_basement', 'sqft_garage', 'sqft_patio', 'yr_built',
       'yr_renovated', 'address', 'lat', 'long'],
      dtype='object')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 25 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
dtypes: float64(5), int64(10), object(10)
memory usage: 5.8+ MB

In [5]:
df['address'].sample

<bound method NDFrame.sample of 0        2102 Southeast 21st Court, Renton, Washington ...
1        11231 Greenwood Avenue North, Seattle, Washing...
2        8504 South 113th Street, Seattle, Washington 9...
3        4079 Letitia Avenue South, Seattle, Washington...
4        2193 Northwest Talus Drive, Issaquah, Washingt...
                               ...
30150    4673 Eastern Avenue North, Seattle, Washington...
30151    4131 44th Avenue Southwest, Seattle, Washingto...
30152    910 Martin Luther King Jr Way, Seattle, Washin...
30153    17127 114th Avenue Southeast, Renton, Washingt...
30154    18615 7th Avenue South, Burien, Washington 981...
Name: address, Length: 30155, dtype: object>

In [6]:
df.describe(include="all")

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sewer_system,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long
count,3.015500e+04,30155,3.015500e+04,30155.000000,30155.000000,30155.000000,3.015500e+04,30155.000000,30155,30155,...,30141,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155.000000,30155,30155.000000,30155.000000
unique,NaN,365,NaN,NaN,NaN,NaN,NaN,NaN,2,2,...,4,NaN,NaN,NaN,NaN,NaN,NaN,29560,NaN,NaN
top,NaN,7/1/2021,NaN,NaN,NaN,NaN,NaN,NaN,NO,NO,...,PUBLIC,NaN,NaN,NaN,NaN,NaN,NaN,"Avenue, 108 Foothill Blvd, Rancho Cucamonga, C...",NaN,NaN
freq,NaN,196,NaN,NaN,NaN,NaN,NaN,NaN,29636,29382,...,25777,NaN,NaN,NaN,NaN,NaN,NaN,38,NaN,NaN
mean,4.538104e+09,NaN,1.108536e+06,3.413530,2.334737,2112.424739,1.672360e+04,1.543492,NaN,NaN,...,NaN,1809.826098,476.039396,330.211142,217.412038,1975.163953,90.922301,NaN,47.328076,-121.317397
std,2.882587e+09,NaN,8.963857e+05,0.981612,0.889556,974.044318,6.038260e+04,0.567717,NaN,NaN,...,NaN,878.306131,579.631302,285.770536,245.302792,32.067362,416.473038,NaN,1.434005,5.725475
min,1.000055e+06,NaN,2.736000e+04,0.000000,0.000000,3.000000,4.020000e+02,1.000000,NaN,NaN,...,NaN,2.000000,0.000000,0.000000,0.000000,1900.000000,0.000000,NaN,21.274240,-157.791480
25%,2.064175e+09,NaN,6.480000e+05,3.000000,2.000000,1420.000000,4.850000e+03,1.000000,NaN,NaN,...,NaN,1180.000000,0.000000,0.000000,40.000000,1953.000000,0.000000,NaN,47.405320,-122.326045
50%,3.874011e+09,NaN,8.600000e+05,3.000000,2.500000,1920.000000,7.480000e+03,1.500000,NaN,NaN,...,NaN,1560.000000,0.000000,400.000000,150.000000,1977.000000,0.000000,NaN,47.551380,-122.225585
75%,7.287100e+09,NaN,1.300000e+06,4.000000,3.000000,2619.500000,1.057900e+04,2.000000,NaN,NaN,...,NaN,2270.000000,940.000000,510.000000,320.000000,2003.000000,0.000000,NaN,47.669913,-122.116205
max,9.904000e+09,NaN,3.075000e+07,13.000000,10.500000,15360.000000,3.253932e+06,4.000000,NaN,NaN,...,NaN,12660.000000,8020.000000,3580.000000,4370.000000,2022.000000,2022.000000,NaN,64.824070,-70.074340

Should be able to drop nulls, since they are only a small ratio and only in 2 columns 
(heat_source and sewer_system). need to check and make sure there aren't other null values (encoded, for instance,
as zeroes)

Location is of course going to be fundamental, so need to parse the address data as separate strings to. May also be able to use lat/long, but must be mindful of this creating collinearity

Given interest in climate change effects (pre-determined), flooding might be easiest to look at. do these prices relate to flood-prone areas? how might these values shift given the effects of climate change? look at "greenbelt", "grade", "lat", "long", "waterfront" etc. We can't do a lot of EDA here since we are really looking for correspondences with data that doesn't exist yet.

Random sampling indicates the coordinates do match up exactly with street addresses

Got relevant flood data as a csv file. now need to clean this data so we can merge on a common column, which
in this case in zip code

# Initial cleaning for merge

In [7]:

df[['street address', 'city', 'state','zipcode']] = df['address'].str.split(',', expand=True)
df['street address'] = df['street address'].str.strip()
df['city'] = df['city'].str.strip()
df['state'] = df['state'].str.strip()
df['zipcode'] = df['zipcode'].str.strip()

df.to_csv('housing_cleaned_addresses.csv', index=False)

ValueError: Columns must be same length as key