In [55]:
import pandas as pd
data = pd.read_csv('/Users/admin/Downloads/NFIP/nfip-flood-policies.csv', nrows=100)

In [56]:
data.head()

,agriculturestructureindicator,basefloodelevation,basementenclosurecrawlspacetype,cancellationdateoffloodpolicy,censustract,condominiumindicator,construction,countycode,crsdiscount,deductibleamountinbuildingcoverage,...,primaryresidenceindicator,propertystate,reportedzipcode,ratemethod,regularemergencyprogramindicator,reportedcity,smallbusinessindicatorbuilding,totalbuildinginsurancecoverage,totalcontentsinsurancecoverage,totalinsurancepremiumofthepolicy
0,NaN,NaN,2,NaN,33013038500,N,N,33013,0.00,0.0,...,Y,NH,3278,7,R,WARNER,NaN,250000,100000,375
1,NaN,NaN,0,NaN,22063040700,N,N,22063,0.05,1.0,...,Y,LA,70726,1,R,DENHAM SPRINGS,NaN,16400,8800,280
2,NaN,NaN,0,NaN,45051060204,N,N,45051,0.00,0.0,...,Y,SC,29579,7,R,MYRTLE BEACH,NaN,250000,100000,335
3,NaN,519.0,2,2016-04-01,1055001200,N,N,1055,0.00,1.0,...,Y,AL,35901,2,R,GADSDEN,NaN,174900,21000,916
4,NaN,7.0,0,NaN,12086000115,N,N,12086,0.00,0.0,...,Y,FL,33160,1,R,GOLDEN BEACH,NaN,250000,100000,1288

In [57]:
# need to get county code for king county and filter this giant, 3 gig csv file by it

In [58]:
data.columns

Index(['agriculturestructureindicator', 'basefloodelevation',
       'basementenclosurecrawlspacetype', 'cancellationdateoffloodpolicy',
       'censustract', 'condominiumindicator', 'construction', 'countycode',
       'crsdiscount', 'deductibleamountinbuildingcoverage',
       'deductibleamountincontentscoverage', 'elevatedbuildingindicator',
       'elevationcertificateindicator', 'elevationdifference',
       'federalpolicyfee', 'floodzone', 'hfiaasurcharge',
       'houseofworshipindicator', 'latitude', 'locationofcontents',
       'longitude', 'lowestadjacentgrade', 'lowestfloorelevation',
       'nonprofitindicator', 'numberoffloorsininsuredbuilding',
       'obstructiontype', 'occupancytype', 'originalconstructiondate',
       'originalnbdate', 'policycost', 'policycount', 'policyeffectivedate',
       'policyterminationdate', 'policytermindicator',
       'postfirmconstructionindicator', 'primaryresidenceindicator',
       'propertystate', 'reportedzipcode', 'ratemethod',
       'regularemergencyprogramindicator', 'reportedcity',
       'smallbusinessindicatorbuilding', 'totalbuildinginsurancecoverage',
       'totalcontentsinsurancecoverage', 'totalinsurancepremiumofthepolicy'],
      dtype='object')

In [59]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   agriculturestructureindicator       0 non-null      float64
 1   basefloodelevation                  39 non-null     float64
 2   basementenclosurecrawlspacetype     100 non-null    int64
 3   cancellationdateoffloodpolicy       13 non-null     object
 4   censustract                         100 non-null    int64
 5   condominiumindicator                100 non-null    object
 6   construction                        100 non-null    object
 7   countycode                          100 non-null    int64
 8   crsdiscount                         100 non-null    float64
 9   deductibleamountinbuildingcoverage  98 non-null     float64
 10  deductibleamountincontentscoverage  92 non-null     float64
 11  elevatedbuildingindicator           100 non-null    object
 12  elevationcertificateindicator       31 non-null     float64
 13  elevationdifference                 100 non-null    int64
 14  federalpolicyfee                    100 non-null    int64
 15  floodzone                           100 non-null    object
 16  hfiaasurcharge                      100 non-null    int64
 17  houseofworshipindicator             0 non-null      float64
 18  latitude                            100 non-null    float64
 19  locationofcontents                  75 non-null     object
 20  longitude                           100 non-null    float64
 21  lowestadjacentgrade                 35 non-null     float64
 22  lowestfloorelevation                39 non-null     float64
 23  nonprofitindicator                  0 non-null      float64
 24  numberoffloorsininsuredbuilding     100 non-null    int64
 25  obstructiontype                     23 non-null     float64
 26  occupancytype                       100 non-null    int64
 27  originalconstructiondate            100 non-null    object
 28  originalnbdate                      100 non-null    object
 29  policycost                          100 non-null    int64
 30  policycount                         100 non-null    int64
 31  policyeffectivedate                 100 non-null    object
 32  policyterminationdate               100 non-null    object
 33  policytermindicator                 100 non-null    int64
 34  postfirmconstructionindicator       100 non-null    object
 35  primaryresidenceindicator           100 non-null    object
 36  propertystate                       100 non-null    object
 37  reportedzipcode                     100 non-null    int64
 38  ratemethod                          100 non-null    int64
 39  regularemergencyprogramindicator    100 non-null    object
 40  reportedcity                        100 non-null    object
 41  smallbusinessindicatorbuilding      0 non-null      float64
 42  totalbuildinginsurancecoverage      100 non-null    int64
 43  totalcontentsinsurancecoverage      100 non-null    int64
 44  totalinsurancepremiumofthepolicy    100 non-null    int64
dtypes: float64(14), int64(16), object(15)
memory usage: 35.3+ KB

In [60]:
#df = (pd.read_csv('/Users/admin/Downloads/NFIP/nfip-flood-policies.csv')[lambda x: x['countycode']== 53033])

In [61]:
import itertools

In [62]:
chunksize = 100
with pd.read_csv('/Users/admin/Downloads/NFIP/nfip-flood-policies.csv', chunksize=chunksize) as reader:
   for index, row in chunk.iterrows():
        print(row)

AttributeError: __enter__

In [ ]:
# https://pythondata.com/working-large-csv-files-python/
from sqlalchemy import create_engine

In [ ]:
file = '/Users/admin/Downloads/NFIP/nfip-flood-policies.csv'

In [ ]:
csv_database = create_engine('sqlite:///csv_database.db')

In [ ]:
chunksize = 100000
i = 0
j = 1
for df in pd.read_csv(file, chunksize=chunksize, iterator=True):
      df = df.rename(columns={c: c.replace(' ', '') for c in df.columns}) 
      df.index += j
      i+=1
      df.to_sql('table', csv_database, if_exists='append')
      j = df.index[-1] + 1

In [ ]:
df = pd.read_sql_query('SELECT * FROM table WHERE countycode = 53033', csv_database)

In [ ]:
import itertools as IT


def valid(chunks):
    for chunk in chunks:
        mask = chunk['countycode'] == '53033'
        if mask.all():
            yield chunk
        else:
            yield chunk.loc[mask]
            break

In [ ]:
chunksize = 10 ** 5
chunks = pd.read_csv('/Users/admin/Downloads/NFIP/nfip-flood-policies.csv', chunksize=chunksize, header=None, low_memory=False)

In [ ]:
chunks.columns

In [ ]:
chunks.loc[chunks['countrycode'] == 53033

In [66]:
file = '/Users/admin/Downloads/NFIP/nfip-flood-policies.csv'
df_empty = pd.DataFrame()
with open(file) as fl:
    chunk_iter = pd.read_csv(fl, chunksize = 100000, low_memory=False)
    for chunk in chunk_iter:
        chunk = chunk[chunk['reportedcity'] == 'SEATTLE']
        df_empty = pd.concat([df_empty,chunk])

In [67]:
df_empty.shape

(9822, 45)

In [68]:
df_empty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9822 entries, 800 to 50375562
Data columns (total 45 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   agriculturestructureindicator       2301 non-null   object
 1   basefloodelevation                  195 non-null    float64
 2   basementenclosurecrawlspacetype     9822 non-null   float64
 3   cancellationdateoffloodpolicy       1114 non-null   object
 4   censustract                         9789 non-null   float64
 5   condominiumindicator                9822 non-null   object
 6   construction                        9822 non-null   object
 7   countycode                          9822 non-null   float64
 8   crsdiscount                         9822 non-null   float64
 9   deductibleamountinbuildingcoverage  9522 non-null   object
 10  deductibleamountincontentscoverage  9528 non-null   object
 11  elevatedbuildingindicator           9822 non-null   object
 12  elevationcertificateindicator       2150 non-null   object
 13  elevationdifference                 9822 non-null   float64
 14  federalpolicyfee                    9822 non-null   float64
 15  floodzone                           9821 non-null   object
 16  hfiaasurcharge                      9822 non-null   float64
 17  houseofworshipindicator             3083 non-null   object
 18  latitude                            9789 non-null   float64
 19  locationofcontents                  6380 non-null   object
 20  longitude                           9789 non-null   float64
 21  lowestadjacentgrade                 197 non-null    float64
 22  lowestfloorelevation                219 non-null    float64
 23  nonprofitindicator                  3094 non-null   object
 24  numberoffloorsininsuredbuilding     9821 non-null   float64
 25  obstructiontype                     791 non-null    object
 26  occupancytype                       9822 non-null   float64
 27  originalconstructiondate            9821 non-null   object
 28  originalnbdate                      9822 non-null   object
 29  policycost                          9822 non-null   float64
 30  policycount                         9822 non-null   float64
 31  policyeffectivedate                 9822 non-null   object
 32  policyterminationdate               9822 non-null   object
 33  policytermindicator                 9822 non-null   float64
 34  postfirmconstructionindicator       9821 non-null   object
 35  primaryresidenceindicator           9822 non-null   object
 36  propertystate                       9822 non-null   object
 37  reportedzipcode                     9822 non-null   object
 38  ratemethod                          9822 non-null   object
 39  regularemergencyprogramindicator    9822 non-null   object
 40  reportedcity                        9822 non-null   object
 41  smallbusinessindicatorbuilding      3255 non-null   object
 42  totalbuildinginsurancecoverage      9822 non-null   float64
 43  totalcontentsinsurancecoverage      9822 non-null   float64
 44  totalinsurancepremiumofthepolicy    9822 non-null   float64
dtypes: float64(20), object(25)
memory usage: 3.4+ MB

In [45]:
df_empty.dropna(inplace=True)

In [173]:
flood_data = df_empty[['reportedzipcode', 'reportedcity', 'countycode', 'basefloodelevation', 'elevatedbuildingindicator',
                      'lowestfloorelevation', 'ratemethod', 'occupancytype', 'elevationdifference', 'floodzone',
                      'totalinsurancepremiumofthepolicy', 'occupancytype', 'latitude', 'longitude']]

In [174]:
flood_data.describe()

,countycode,basefloodelevation,lowestfloorelevation,occupancytype,elevationdifference,totalinsurancepremiumofthepolicy,occupancytype,latitude,longitude
count,109936.0,19583.000000,20096.000000,109936.000000,109936.000000,109936.000000,109936.000000,109641.000000,109641.000000
mean,53033.0,186.875688,378.966352,1.787940,816.153917,781.468463,1.787940,47.472246,-122.120553
std,0.0,222.558002,1375.190741,1.368911,391.783791,1021.250008,1.368911,0.135176,0.208210
min,53033.0,-2.000000,-17.100000,1.000000,-407.000000,11.000000,1.000000,47.200000,-122.500000
25%,53033.0,29.700000,30.300000,1.000000,999.000000,313.000000,1.000000,47.400000,-122.300000
50%,53033.0,45.000000,60.300000,1.000000,999.000000,385.000000,1.000000,47.500000,-122.200000
75%,53033.0,422.400000,424.700000,2.000000,999.000000,997.000000,2.000000,47.500000,-122.000000
max,53033.0,5171.800000,9996.000000,6.000000,9990.000000,45695.000000,6.000000,47.800000,-121.300000

In [175]:
flood_data.shape

(109936, 14)

In [176]:
flood_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109936 entries, 147 to 50406466
Data columns (total 14 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   reportedzipcode                   109936 non-null  object
 1   reportedcity                      109936 non-null  object
 2   countycode                        109936 non-null  float64
 3   basefloodelevation                19583 non-null   float64
 4   elevatedbuildingindicator         109934 non-null  object
 5   lowestfloorelevation              20096 non-null   float64
 6   ratemethod                        109919 non-null  object
 7   occupancytype                     109936 non-null  float64
 8   elevationdifference               109936 non-null  float64
 9   floodzone                         109878 non-null  object
 10  totalinsurancepremiumofthepolicy  109936 non-null  float64
 11  occupancytype                     109936 non-null  float64
 12  latitude                          109641 non-null  float64
 13  longitude                         109641 non-null  float64
dtypes: float64(9), object(5)
memory usage: 17.6+ MB

In [177]:
flood_data.drop(labels='basefloodelevation', axis=1)

,reportedzipcode,reportedcity,countycode,elevatedbuildingindicator,lowestfloorelevation,ratemethod,occupancytype,elevationdifference,floodzone,totalinsurancepremiumofthepolicy,occupancytype,latitude,longitude
147,98055,RENTON,53033.0,N,NaN,7,1.0,999.0,X,335.0,1.0,47.5,-122.2
216,98002,AUBURN,53033.0,N,NaN,7,2.0,999.0,X,375.0,2.0,47.3,-122.2
483,98002,AUBURN,53033.0,N,NaN,7,1.0,999.0,X,335.0,1.0,47.4,-122.2
800,98133,SEATTLE,53033.0,N,NaN,1,4.0,999.0,X,1818.0,4.0,47.7,-122.3
1261,98001,ALGONA,53033.0,N,NaN,7,2.0,999.0,X,335.0,2.0,47.3,-122.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50403989,98092,AUBURN,53033.0,N,NaN,7,1.0,999.0,X,374.0,1.0,47.3,-122.1
50404560,98070,VASHON,53033.0,Y,20.3,B,1.0,12.0,A,330.0,1.0,47.5,-122.4
50404837,98075,SAMMAMISH,53033.0,Y,34.6,1,1.0,1.0,AE,205.0,1.0,47.6,-122.1
50405431,98198,DES MOINES,53033.0,N,NaN,1,1.0,999.0,A,2406.0,1.0,47.4,-122.3
50406466,98198,DES MOINES,53033.0,Y,NaN,1,6.0,999.0,A,31373.0,6.0,47.3,-122.3

In [178]:
flood_data.drop(['lowestfloorelevation','basefloodelevation'], axis=1, inplace=True)

In [179]:
flood_data.shape

(109936, 12)

In [181]:
flood_data.reportedzipcode = flood_data.reportedzipcode.astype(int)

In [183]:
flood_data.countycode = flood_data.countycode.astype(int)

In [184]:
flood_data.head()

,reportedzipcode,reportedcity,countycode,elevatedbuildingindicator,ratemethod,occupancytype,elevationdifference,floodzone,totalinsurancepremiumofthepolicy,occupancytype,latitude,longitude
147,98055,RENTON,53033,N,7,1.0,999.0,X,335.0,1.0,47.5,-122.2
216,98002,AUBURN,53033,N,7,2.0,999.0,X,375.0,2.0,47.3,-122.2
483,98002,AUBURN,53033,N,7,1.0,999.0,X,335.0,1.0,47.4,-122.2
800,98133,SEATTLE,53033,N,1,4.0,999.0,X,1818.0,4.0,47.7,-122.3
1261,98001,ALGONA,53033,N,7,2.0,999.0,X,335.0,2.0,47.3,-122.3

In [ ]:
# need to make sure zipcodes align with floodzones, more or less. also need to convert strings to integers for zipcodes

In [185]:
flood_data.reportedzipcode.nunique()

98

In [186]:
flood_data['countycode'].value_counts()

53033    109936
Name: countycode, dtype: int64

In [187]:
flood_data.groupby('reportedzipcode')['floodzone'].nunique()

reportedzipcode
8188     1
10000    1
20005    1
37203    1
84119    1
        ..
98201    1
98224    6
98251    1
98288    5
98302    1
Name: floodzone, Length: 98, dtype: int64

In [188]:
flood_data['floodzone'].value_counts()

X      67632
AE     29416
A       4753
AO      3130
AHB     1220
AOB     1046
AH      1045
C        581
D        254
A05      229
A11      176
B        159
A04       60
A12       51
A06       43
VE        32
A07       15
A09       14
A01       10
A03        7
A02        3
A10        2
Name: floodzone, dtype: int64

In [46]:
# starting over with a new dataset using the county code as a float this time

In [204]:
file = '/Users/admin/Downloads/NFIP/nfip-flood-policies.csv'
df_empty = pd.DataFrame()
with open(file) as fl:
    chunk_iter = pd.read_csv(fl, chunksize = 100000, low_memory=False)
    for chunk in chunk_iter:
        chunk = chunk[chunk['countycode'] == 53033.0]
        df_empty = pd.concat([df_empty,chunk])

In [205]:
flood_data = df_empty[['countycode', 'deductibleamountinbuildingcoverage', 'elevatedbuildingindicator', 'elevationdifference', 'floodzone', 'reportedzipcode', 'totalinsurancepremiumofthepolicy']].copy()

In [206]:
df_empty.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 109936 entries, 147 to 50406466
Data columns (total 45 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   agriculturestructureindicator       17453 non-null   object
 1   basefloodelevation                  19583 non-null   float64
 2   basementenclosurecrawlspacetype     109936 non-null  float64
 3   cancellationdateoffloodpolicy       11480 non-null   object
 4   censustract                         109641 non-null  float64
 5   condominiumindicator                109936 non-null  object
 6   construction                        109936 non-null  object
 7   countycode                          109936 non-null  float64
 8   crsdiscount                         109936 non-null  float64
 9   deductibleamountinbuildingcoverage  103272 non-null  object
 10  deductibleamountincontentscoverage  99339 non-null   object
 11  elevatedbuildingindicator           109934 non-null  object
 12  elevationcertificateindicator       32588 non-null   object
 13  elevationdifference                 109936 non-null  float64
 14  federalpolicyfee                    109936 non-null  float64
 15  floodzone                           109878 non-null  object
 16  hfiaasurcharge                      109936 non-null  float64
 17  houseofworshipindicator             25466 non-null   object
 18  latitude                            109641 non-null  float64
 19  locationofcontents                  75383 non-null   object
 20  longitude                           109641 non-null  float64
 21  lowestadjacentgrade                 18651 non-null   float64
 22  lowestfloorelevation                20096 non-null   float64
 23  nonprofitindicator                  25397 non-null   object
 24  numberoffloorsininsuredbuilding     109878 non-null  float64
 25  obstructiontype                     23873 non-null   object
 26  occupancytype                       109936 non-null  float64
 27  originalconstructiondate            109868 non-null  object
 28  originalnbdate                      109936 non-null  object
 29  policycost                          109936 non-null  float64
 30  policycount                         109936 non-null  float64
 31  policyeffectivedate                 109936 non-null  object
 32  policyterminationdate               109936 non-null  object
 33  policytermindicator                 109936 non-null  float64
 34  postfirmconstructionindicator       109868 non-null  object
 35  primaryresidenceindicator           109936 non-null  object
 36  propertystate                       109936 non-null  object
 37  reportedzipcode                     109936 non-null  object
 38  ratemethod                          109919 non-null  object
 39  regularemergencyprogramindicator    109936 non-null  object
 40  reportedcity                        109936 non-null  object
 41  smallbusinessindicatorbuilding      27350 non-null   object
 42  totalbuildinginsurancecoverage      109936 non-null  float64
 43  totalcontentsinsurancecoverage      109936 non-null  float64
 44  totalinsurancepremiumofthepolicy    109936 non-null  float64
dtypes: float64(20), object(25)
memory usage: 38.6+ MB

In [207]:
# what else? i need to figure out a way to match this data, after further cleaning it by eliminating or transforming bad/irrelevant data

In [208]:
# clean zip codes. should all be 5 digits and start with 9

# flood_data = flood_data['reportedzipcode'].between(90000, 99999)

In [210]:
flood_data.reportedzipcode = flood_data.reportedzipcode.astype(int)

In [211]:
flood_data.countycode = flood_data.countycode.astype(int)

In [212]:
flood_data = flood_data[(flood_data['reportedzipcode'] >= 90000) & (flood_data['reportedzipcode'] <= 99999)]

In [215]:
flood_data.reportedzipcode.describe()

count    109926.000000
mean      98054.390654
std          54.980952
min       93002.000000
25%       98027.000000
50%       98042.000000
75%       98065.000000
max       98302.000000
Name: reportedzipcode, dtype: float64

In [216]:
zones_in_zips = flood_data.groupby('reportedzipcode')['floodzone'].nunique()

In [217]:
zones_in_zips.head()

reportedzipcode
93002    1
96168    1
98000    1
98001    5
98002    6
Name: floodzone, dtype: int64

In [230]:
zones_index = zones_in_zips.index.tolist()

In [231]:
mult_zone_zips = []

for zone in zones_in_zips:
    if zone > 1:
        mult_zone_zipes.append(zone)

AttributeError: 'int' object has no attribute 'index'

In [223]:
zones_in_zips.dtype

dtype('int64')

In [225]:
single_zone_zips = []
for zone in zones_in_zips:
    if zone == 1:
        single_zone_zips.append(zone)

In [226]:
len(single_zone_zips)

26

In [229]:
list(single_zone_zips.index)

TypeError: 'builtin_function_or_method' object is not iterable

In [ ]:
# so, almost all our cleaned zipcodes are associated with more than one floodzone type. hmmm. 
# maybe create a column with all floodzone types for a given zipcode? and the more floodzone types we assign
# a score? assign scores based on individual types and also if multiple types?
# eg a floodzone type column value of " X AE " and a floodzone score column value of " 7 " (2 + 5)

In [232]:
mult_zone_zipes_over_2  = [x for x in mult_zone_zipes if x >2]

In [233]:
len(mult_zone_zipes_over_2 )

153

In [234]:
mult_zone_zipes_over_3 = [x for x in mult_zone_zipes if x > 3]

In [235]:
len(mult_zone_zipes_over_3)

97

In [ ]:
# so, almost all our cleaned zipcodes are associated with more than one floodzone type. hmmm. 
# maybe create a column with all floodzone types for a given zipcode? and the more floodzone types we assign
# a score? assign scores based on individual types and also if multiple types?
# eg a floodzone type column value of " X AE " and a floodzone score column value of " 7 " (2 + 5)

In [ ]:
# would need to create a dictionary of zipcodes:floodzone types and a dictionary of floodzone type: score

In [239]:
zones_in_zips

reportedzipcode
93002    1
96168    1
98000    1
98001    5
98002    6
        ..
98201    1
98224    6
98251    1
98288    5
98302    1
Name: floodzone, Length: 93, dtype: int64

In [237]:
zip_zones_dict = {}

zips = zones_in_zips.index.to_list()

In [301]:
#zones_in_zips.to_list

In [304]:
#flood = flood_data.groupby(['reportedzipcode','floodzone'])['reportedzipcode']

In [309]:
flood_dict = flood_data.groupby(['reportedzipcode'])['floodzone'].apply(lambda grp: list(grp.value_counts().index)).to_dict()
# FINALLY https://stackoverflow.com/questions/23470450/create-a-dictionary-from-groupby-object-python/55422538#55422538

In [310]:
flood_dict

{93002: ['X'],
 96168: ['X'],
 98000: ['X'],
 98001: ['X', 'AE', 'A', 'AH', 'C'],
 98002: ['X', 'AH', 'AE', 'AHB', 'C', 'AO'],
 98003: ['X'],
 98004: ['X', 'AE'],
 98005: ['X', 'AE', 'B'],
 98006: ['X', 'AE', 'A'],
 98007: ['X', 'AE'],
 98008: ['X', 'AE', 'A', 'C', 'A06'],
 98010: ['X', 'C'],
 98011: ['X', 'C', 'A06', 'AE'],
 98014: ['AE', 'X', 'AO', 'C', 'AOB', 'A', 'A05', 'A06'],
 98019: ['AE', 'X', 'A', 'C', 'A10'],
 98022: ['A', 'X', 'D', 'AE', 'C'],
 98023: ['X', 'A', 'C'],
 98024: ['AE', 'X', 'AO', 'C', 'A', 'AOB', 'A05'],
 98025: ['AE'],
 98027: ['AE', 'X', 'AO', 'A', 'A04', 'C', 'B', 'AOB', 'A02'],
 98028: ['AE', 'X', 'A'],
 98029: ['X', 'AE'],
 98030: ['X', 'AE', 'AH'],
 98031: ['X', 'AE', 'A', 'C'],
 98032: ['X', 'AE', 'AHB', 'AH', 'C', 'A', 'VE'],
 98033: ['X', 'AO'],
 98034: ['X'],
 98035: ['AE', 'X'],
 98038: ['AE', 'X', 'A05', 'B', 'A', 'C', 'A01'],
 98039: ['X'],
 98040: ['X'],
 98042: ['X', 'A', 'AE'],
 98045: ['AE',
  'AO',
  'X',
  'AOB',
  'D',
  'C',
  'A',
  'AH',
  'A05',
  'B',
  'A09',
  'AHB',
  'A06',
  'A03'],
 98047: ['X', 'AE', 'C'],
 98050: ['X'],
 98051: ['X', 'D'],
 98052: ['AE', 'X', 'A', 'A06', 'B'],
 98053: ['X', 'AE', 'A'],
 98055: ['X', 'AHB', 'AE'],
 98056: ['X', 'AE'],
 98057: ['X', 'AE', 'C', 'AH', 'AHB', 'A04', 'A'],
 98058: ['AE', 'X', 'A', 'A05', 'C', 'A07', 'B'],
 98059: ['X', 'AE', 'C'],
 98064: ['X'],
 98065: ['AE', 'X', 'A11', 'A12', 'A', 'AO', 'A05', 'A09', 'D', 'C'],
 98068: ['AE', 'D', 'C'],
 98070: ['A', 'X', 'C', 'AE', 'B'],
 98071: ['X'],
 98072: ['X', 'AE'],
 98074: ['X', 'AE', 'C'],
 98075: ['AE', 'X', 'A', 'C'],
 98077: ['X', 'A', 'AE'],
 98092: ['X', 'A', 'AE', 'AHB', 'A01', 'C', 'AH'],
 98101: ['X', 'A'],
 98102: ['X'],
 98103: ['X'],
 98104: ['X', 'AO', 'A', 'AOB'],
 98105: ['X'],
 98106: ['X', 'AE'],
 98107: ['X', 'C'],
 98108: ['X', 'A', 'AE'],
 98109: ['X'],
 98111: ['X', 'A'],
 98112: ['X'],
 98115: ['X', 'AE', 'C'],
 98116: ['X', 'A', 'C'],
 98117: ['X', 'A'],
 98118: ['X'],
 98119: ['X'],
 98121: ['X'],
 98122: ['X'],
 98125: ['X', 'AE', 'A', 'C'],
 98126: ['X', 'C'],
 98133: ['X', 'A', 'AE', 'C'],
 98134: ['X'],
 98136: ['X', 'A'],
 98138: ['X'],
 98144: ['X'],
 98146: ['X', 'A', 'VE', 'C', 'AO'],
 98148: ['X', 'C', 'A'],
 98155: ['X', 'A', 'AE', 'C'],
 98166: ['X', 'A', 'AE', 'AO', 'VE', 'C', 'A03'],
 98168: ['X', 'AE', 'C', 'AHB'],
 98177: ['X', 'A', 'C'],
 98178: ['X', 'AE'],
 98188: ['X', 'AE', 'AH', 'AHB'],
 98198: ['X', 'A', 'AE', 'C', 'VE'],
 98199: ['X', 'A'],
 98201: ['X'],
 98224: ['AE', 'D', 'X', 'A', 'A06', 'C'],
 98251: ['AE'],
 98288: ['AE', 'X', 'A', 'D', 'A07'],
 98302: ['X']}

In [399]:
flood_data.head()

     flood zone  zipcode    floodzones in zipcode  zipcode flood score
147           X    98055             [X, AHB, AE]             2.666667
216           X    98002  [X, AH, AE, AHB, C, AO]             2.500000
483           X    98002  [X, AH, AE, AHB, C, AO]             2.500000
800           X    98133            [X, A, AE, C]             2.250000
1261          X    98001        [X, AE, A, AH, C]             2.400000

In [419]:
unique_values = sorted(set(value for sublist in flood_dict.values() for value in sublist))
dict_keys = list(unique_values)
dict_values = [3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,2,1,1,3,1]
score_dict = dict(zip(dict_keys, dict_values))

score_dict

{'A': 3,
 'A01': 3,
 'A02': 3,
 'A03': 3,
 'A04': 3,
 'A05': 3,
 'A06': 3,
 'A07': 3,
 'A09': 3,
 'A10': 3,
 'A11': 3,
 'A12': 3,
 'AE': 3,
 'AH': 3,
 'AHB': 3,
 'AO': 3,
 'AOB': 3,
 'B': 2,
 'C': 1,
 'D': 1,
 'VE': 3,
 'X': 1}

In [423]:
flood_data['area flood score 2'] = flood_data['floodzones in zipcode'].apply(lambda x: [score_dict[val] for val in x]).apply(lambda x: sum(x) / len(x))

In [424]:
flood_data.head()

,flood zone,zipcode,floodzones in zipcode,zipcode flood score,flood score,flood score revised,area flood score 2
147,X,98055,"[X, AHB, AE]",2.666667,2.333333,2.333333,2.333333
216,X,98002,"[X, AH, AE, AHB, C, AO]",2.500000,2.333333,2.333333,2.333333
483,X,98002,"[X, AH, AE, AHB, C, AO]",2.500000,2.333333,2.333333,2.333333
800,X,98133,"[X, A, AE, C]",2.250000,2.000000,2.000000,2.000000
1261,X,98001,"[X, AE, A, AH, C]",2.400000,2.200000,2.200000,2.200000

In [425]:
flood_data.drop(['flood score revised', 'flood score'], axis=1, inplace=True)

In [429]:
flood_data.rename(columns={'zipcode flood score': 'area flood score 1'}, inplace=True)

In [ ]:
# we use different values for the X (which is a very common category, because X can mean
# either moderate or low risk. when I attemptd to use the value of 1.5, i kept getting an error about
# using floats, so instead i am averaging the difference between these two score "models")

In [432]:
flood_data['average flood score'] = (flood_data['area flood score 1'] + flood_data['area flood score 2']) / 2

In [433]:
flood_data.head()

,flood zone,zipcode,floodzones in zipcode,area flood score 1,area flood score 2,average flood score
147,X,98055,"[X, AHB, AE]",2.666667,2.333333,2.500000
216,X,98002,"[X, AH, AE, AHB, C, AO]",2.500000,2.333333,2.416667
483,X,98002,"[X, AH, AE, AHB, C, AO]",2.500000,2.333333,2.416667
800,X,98133,"[X, A, AE, C]",2.250000,2.000000,2.125000
1261,X,98001,"[X, AE, A, AH, C]",2.400000,2.200000,2.300000

In [434]:
flood_data.drop(['flood zone'], axis=1, inplace=True)

In [438]:
flood_data.rename(columns={'average flood score': 'avg area flood score'}, inplace=True)

In [440]:
flood_data.head()

,zipcode,floodzones in zipcode,area flood score 1,area flood score 2,avg area flood score
147,98055,"[X, AHB, AE]",2.666667,2.333333,2.500000
216,98002,"[X, AH, AE, AHB, C, AO]",2.500000,2.333333,2.416667
483,98002,"[X, AH, AE, AHB, C, AO]",2.500000,2.333333,2.416667
800,98133,"[X, A, AE, C]",2.250000,2.000000,2.125000
1261,98001,"[X, AE, A, AH, C]",2.400000,2.200000,2.300000

In [441]:
flood_data.to_csv('flood_data.csv', index=False)